@{
    ViewData["Title"] = "Creacion de personas";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a asp-action="Create" class="btn btn-info"> <i class="fa fa-plus-square" aria-hidden="true"></i> Crear nueva persona</a>
</p>
